* {
    user-select: none;
    box-sizing: border-box;     }
html {
    background-image: url(Resimler/Back-Ground_İmg.jpg);
    background-color: #ffefef;
    background-size: 260vh 200vh;
    background-repeat: no-repeat;
    background-position: left, top;     }
body {
    margin: 2.5%;     }


/* Kullandıklarım



*/



/* İmleç Gelince Efekt */
#CıkmaLogoUst:hover {
    transition: 250ms;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 1);
    color: white;     }
#CıkmaLogo:hover {
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}

#box-YouTube:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 50px -2.5px rgb(255, 255, 0);     }
#box-İnstagram:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
#box-WhatsApp:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
#box-Eba:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
#box-Mehsatek:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
#box-ChatGpt:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
#box-Snapany:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
#box-Gmail:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
#box-FaceBook:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
#box-Coddy:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
#box-IP:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
#box-GitHub:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -2.5px rgb(255, 255, 0);     }
.box:hover {
    z-index: 5;
    backdrop-filter: blur(10px);
    border-style: none;
    outline-width: 2px;
    outline-color: rgba(0, 0, 0, 0.75);
    outline-style: inset;
    outline-style: solid;
}

#Search-box:hover {
    transition: 200ms;
    box-shadow: 0px 0px 5px 2.5px rgba(10, 165, 255, 1);
    transform: scale(0.98);     }
#Arama:hover {
    transition: 300ms;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(110, 110, 110);
    border-radius: 15px;
    transform: scale(0.9);     }
#Placeholder:hover {
    transition: 500ms;
    border-radius: 30px;
    background-color: rgb(110, 110, 110);
    outline-width: 0;     }



/* Focuslandığını Belirt */
@keyframes tıklama {
    0% {transform: scale(0.98);}

    15% {transform: scale(0.96);}

    40% {transform: scale(0.99);}

    80% {transform: scale(1.05);}

    100% {transform: scale(1);}     }

#box-YouTube:focus {
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-İnstagram:focus {
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-WhatsApp:focus {
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-Eba:focus {
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-Mehsatek:focus {
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-ChatGpt:focus {
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-Snapany:focus {
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-Gmail:focus {
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-FaceBook:focus {
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-Coddy:focus{
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-IP:focus{
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }
#box-GitHub:focus{
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }

#Placeholder:focus {
    transition: 0s;
    padding-top: 3px;
    border-radius: 30px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-color: black;
    background-color: rgb(110, 110, 110);
    outline-width: 0;
    border-style: inset;     }



/* Kutu Stilleri */
#CıkmaLogoUst {
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 5%;
    height: 30px;
    border-width: 0px;
    outline-width: 0;
    border-radius: 7.5px;
    padding: 5px;
    font-size: 20px;     }
#CıkmaLogo {
    width: 20px;
    height: 20px;
    background-image: url(Resimler/Çık.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0);     }


#box-YouTube {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-İnstagram {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-WhatsApp {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-Eba {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-Mehsatek {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-ChatGpt {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-Snapany {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-Gmail {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-FaceBook {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-Coddy {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;   
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-IP {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;   
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
#box-GitHub {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;   
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    color: black;
    border-radius: 10px;
    background-size: 33.4%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }
.box {
    margin-left: 4px;
    z-index: 2;
    border-style: none;
    outline-width: 0px;
    outline-color: rgba(0, 0, 0, 0.75);
    outline-style: inset;
    outline-style: solid;
    backdrop-filter: blur(2px);
    background-image: none;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

#Search-box {
    width: 300px;
    height: 60px;
    background-color: rgb(100, 100, 100);
    border-radius: 35px;
    display: flex;
    margin-left:  5%;     }
#Arama {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border: 10px;
    background-image: url(Resimler/Arama.png);
    background-color: rgb(100, 100, 100);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border: none;
    display: inline-flex;     }
#Bosluk {
    height: 60px;
    width: 15px;
    display: inline-flex;     }
#Placeholder {
    display: inline;
    width: 230px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: black;
    outline-color: black;
    color: white;
    text-align: left;
    user-select: none;
    border: none;
    border-top-right-radius: 13.5px;
    border-bottom-right-radius: 13.5px;
    border-top-left-radius: 13.5px;
    border-bottom-left-radius: 13.5px;
    outline-width: 0;
    user-select: none;
    font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
    background-color: rgb(100, 100, 100);     }
#Placeholder::placeholder {
    color: rgba(240, 240, 240, 0.75);     }



/*Kullandıkları



*/

/* Yedek Düğmeler


#box-UYGULAMA_İSMİ:hover {
    transform: scale(0.98);
    transition: 150ms;
    box-shadow: 0px 0px 40px -10px rgb(255, 255, 0);     }


#box-UYGULAMA_İSMİ:focus{
    animation-duration: 200ms;
    animation-name: tıklama;
    transition: 200ms;
    background-color: black;
    background-image: none;
    box-shadow: 0px 0px 30px 0px rgba(255, 10, 10, 0.6);
    color: white;     }


#box-UYGULAMA_İSMİ {
    font-size: 120%;
    font-weight: 900;
    width: 120px;
    height: 30px;   
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3px;
    padding-right: 3px;
    border-color: black;
    border-width: 2px;
    background-color: white;
    color: black;
    border-radius: 10px;
    background-image: url(Resimler/UYGULAMA_İSMİ_Logo.png);
    background-color: rgb(70, 70, 70);
    background-size: 33.3%;
    background-position: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);     }


*/


